<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="Robots" content="noindex,nofollow" />
<title>管理后台</title>
<link href="/admin/CSS/admin.css" rel="stylesheet" type="text/css" />
  @RenderSection("script",false)
</head>


<body>
<div id="header"><img src="/admin/images/admin_top.gif" /></div>

<div id="main">
	<div id="opt_list">
    	<h1>@User.Identity.Name 管理员，您好！</h1>
    	<ul>
        	<li><a href="#">订单管理</a></li>
            <li><a href="#">用户管理</a></li>
            <li><a href="#">角色管理</a></li>
            <li><a href="#">图书分类管理</a></li>
            <li><a href="/admin/bookmanage/index">图书管理</a></li>
            <li><a href="#">销售统计</a></li>
            <li><a href="/admin/manage/exit">安全退出</a></li>
        </ul>
    </div>
    <div id="opt_area">
    	@RenderBody()
    </div>
</div>



</body>
</html>