 



/*
    //作者:李天页
    //功能描述:钱币直接兑换积分页面的样式
    
    
    
    */




#buyInte{
            position:relative;
            left:450px;
            line-height:50px;
            font-size:20px;                   
            text-align:center;
        }