
<!--系统设置，左侧选项卡-->
<div title="星级评论积分设置">
    <p>
        <a href="javascript:void(0)" onclick="starComment(1)">1星</a>
    </p>
    <p>
        <a href="javascript:void(0)" onclick="starComment(2)">2星</a>
    </p>
    <p>
        <a href="javascript:void(0)" onclick="starComment(3)">3星</a>
    </p>
</div>
<div title="签到积分设置">
    <p>
        <a href="javascript:void(0)" onclick="SignSetting(0)">单次签到</a>
    </p>
    <p>
        <a href="javascript:void(0)" onclick="SignSetting(1)">连续签到积分递增</a>
    </p>
</div>
<div title="确认订单时间设置">
    <p>
        <a href="javascript:void(0)" onclick="confirmSetting(0)">确认收货</a>
    </p>
    <p>
        <a href="javascript:void(0)" onclick="confirmSetting(1)">确认订单</a>
    </p>
</div>
<div title="积分兑换设置">
    <p>
        <a href="javascript:void(0)" onclick="moneyToIntegral(0)">钱直接兑换积分</a>
    </p>
    <p>
        <a href="javascript:void(0)" onclick="moneyToIntegral(1)">订单价值折算积分</a>
    </p>
</div>
<div title="杂项设置">
    <p>
        <a href="javascript:void(0)" onclick="pageSizeSetting()">分页尺寸设置</a>
    </p>
    <p>
        <a href="javascript:void(0)" onclick="systemOnOrOff()">系统关闭设置</a>
    </p>
</div>

