
@{
   
    int defaultValue = ViewBag.DefaultValue;
}

    
    

<div>

    <p>当前设置的是，
        <span>分页尺寸设置</span>
    </p>
    <p>
        <input type="number" value="@defaultValue" id="statNum" /><input type="button" value="确认修改" onclick="btnPageSizeValue()" />
    </p>

</div>