@section script{
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <link href="~/js/dd/global.css" rel="stylesheet" />
    <link href="~/js/dd/layout.css" rel="stylesheet" />
    <link href="~/Css/layout.css" rel="stylesheet" />
    <script src="~/js/dd/jquery-1.8.3.js"></script>
    <script src="~/js/dd/register.js"></script>
    <link href="~/easyui1.5/themes/icon.css" rel="stylesheet" />
    <link href="~/easyui1.5/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/easyui1.5/themes/color.css" rel="stylesheet" />
    <script src="~/easyui1.5/jquery.easyui.min.js"></script>
    <script src="~/Js/dd/myjavascript.js"></script>
    }
<div id="container">
	<!--left content-->
	<div id="intro">
    	<div id="basket"><a href="#">目前您的购物篮是空的</a></div>
        <div id="search">
        	<form action="" method="post" target="_blank">
            	<input type="text" id="keyword" class="search_key" />
                <input type="submit" id="s_submit" class="search_sub" value="" />
            </form>
        </div>
        <div id="alltype">
        	<h1 class="all_type black"><a href="#">查看所有分类>></a></h1>
            <div id="subnav">
                <ul class="black">
                    <li><a href="/user" style="font-size:20px;">个人中心</a></li>
                    <li><a href="/user/showorder" style="font-size:20px">查看订单</a></li>
                    <li><a href="javascript:void(0)" style="font-size:20px">查看积分</a></li>
                    <li><a href="/user/edit" style="font-size:20px">修改个人信息</a></li>
                    <li><a href="/user/showcomment" style="font-size:20px">查看我的评论</a></li>
                    <li><a href="/user/showcollections" style="font-size:20px">我的收藏夹</a></li>
                    <li><a href="/user/showscorehistory" style="font-size:20px">我的积分历史</a></li>
                </ul>
            </div>
            <!--subnav end-->
        </div>
        <!--link start-->
        <div id="choice_pub">
        	<select name="publishs" id="publishs" class="n_select">
            	<option>>>根据出版社选择图书</option>
                <option>北京师范大学出版社</option>
                <option>电子工业出版社</option>
            </select>

        	<select name="publishs" id="special" class="n_select">
            	<option>>>根据专题选择图书</option>
                <option>国庆出游专题</option>
                <option>新年计划专题</option>
            </select>
        </div>
        <div id="s_b_03"><a href="#">赖世雄美语从头学</a><br /><a href="#">沪江团购 ，价格更优惠</a></div>
        <!--link start-->
    </div>
    <div id="action_area">
    	<h2 class="action_type">修改会员信息</h2>
        <hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr />
      <div class="register_content" style="margin-left:180px;margin-top:40px;">
        <div class="register_message">
            <form id="myform">
                <dl class="register_row">
                    <dt>Email地址：</dt>
                    <dd>
                        <input id="email" type="text" name="Mail" value="@Model.Mail" class="register_input"/>
                        <input type="hidden" name="Id" value="@Model.Id" />
                    </dd>
                    <dd><div id="email_prompt"></div></dd>
                </dl>
                <dl class="register_row">
                    <dt>设置昵称：</dt>
                    <dd><input id="nickName" type="text" name="LoginId" value="@Model.LoginId" class="register_input"/></dd>
                    <dd><div id="nickName_prompt"></div></dd>
                </dl>
                <dl class="register_row">
                    <dt>设定密码：</dt>
                    <dd><input id="pwd" type="password" name="LoginPwd" value="@Model.LoginPwd" class="register_input"/></dd>
                    <dd><div id="pwd_prompt"></div></dd>
                </dl>
                <dl class="register_row">
                    <dt>再输入一次密码：</dt>
                    <dd><input id="repwd" type="password" class="register_input"/></dd>
                    <dd><div id="repwd_prompt"></div></dd>
                </dl>
                <dl class="register_row">
                    <dt>性别：</dt>
                    <dd><input name="sex" id="man" type="radio" value="男" checked="checked"/> <label for="man">男</label></dd>
                    <dd> <input name="sex" id="woman" type="radio" value="女"/> <label for="woman">女</label></dd>
                </dl>
                <dl class="register_row">
                    <dt>所在地区：</dt>
                    <dd>
                        <select id="province" style="width:120px;">
                            <option>请选择省/城市</option>
                        </select>
                    </dd>
                    <dd>
                        <select id="city"  style="width:130px;">
                            <option>请选择城市/地区</option>
                        </select>
                    </dd>
                </dl>
            </form>
            <a class="easyui-linkbutton" onclick="btnUpdateUserMessage()" 
                    data-options="iconCls:'icon-ok'" 
                    href="javascript:void(0)" 
                     style="margin-top:50px;margin-left:-180px;width:100px;height:50px;font-size:20px;">修  改</a>
        </div>
    </div>
    </div>
</div>
