@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo38</title>
</head>
<body>
    <div>
        <p>
            自定义过滤器，
            两种，一种是作用在调用action的时候，调用视图的时候。
            使用过滤器执行特定业务逻辑。
            1.自定义一个类，MyFielterAction 作用在动作上
            2. 定义一个类，MyFilterView 作用在视图上
            过滤器可以装配在某个动作上，也可以在控制器上，全局
        </p>
    </div>
</body>
</html>
