@{
    Layout = null;
    List<string> users = HttpContext.Current.Application["users"] as List<string>;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo4</title>
</head>
<body>
    <div>
        <ul>
            @foreach (string name in users) { 
                <li>@name</li>
            }
        </ul>
    </div>
</body>
</html>
