@{
    ViewBag.Title = "Demo1";
    Layout = "~/Views/Shared/_index.cshtml";
}
@section script{
     <script>
         $(function () {
             alert("我是视图页的");
         });
     </script>
    
    }

<h2>新书排行</h2>
<h2>新书排行</h2>
<h2>新书排行</h2>
<h2>新书排行</h2>
